<nav class="simple-navbar">
  <div class="nav-container">
    <!-- Logo -->
    <div class="nav-brand">
      <i class="fas fa-store"></i>
    </div>

    <!-- Menu -->
    <div class="nav-menu">
      <a routerLink="/" class="nav-item">
        <i class="fas fa-home"></i> Início
      </a>
      <a routerLink="/mercados" class="nav-item">
        <i class="fas fa-store-alt"></i> Mercados
      </a>
      <div class="nav-botao-login">
        <a routerLink="/login" class="nav-item">
          <i class="fas fa-user"></i> Login
        </a>
      </div>

    </div>
  </div>
</nav>

<router-outlet></router-outlet>
